/* success button */
.btn-outline-success {
	background-color: transparent;
	background-image: none;
	border-color: #28a745;
	color: #28a745;
}
.btn-outline-success.active:focus:not(:disabled):not(.disabled), .btn-outline-success:active:focus:not(:disabled):not(.disabled), .show > .btn-outline-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
.btn-outline-success.active:not(:disabled):not(.disabled), .btn-outline-success:active:not(:disabled):not(.disabled), .show > .btn-outline-success.dropdown-toggle {
	background-color: #28a745;
	border-color: #28a745;
	color: #fff;
}
.btn-outline-success:hover {
	background-color: #28a745;
	border-color: #28a745;
	color: #fff !important;
}
.btn-outline-success.focus, .btn-outline-success:focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
.btn-outline-success:focus {
	color: #28a745;
}
/* ./END - success button */

/* orange button */
.btn-outline-orange {
	background-color: transparent;
	background-image: none;
	border-color: #fa7205;
	color: #fa7205;
}
.btn-outline-orange.active:focus:not(:disabled):not(.disabled), .btn-outline-orange:active:focus:not(:disabled):not(.disabled), .show > .btn-outline-orange.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
.btn-outline-orange.active:not(:disabled):not(.disabled), .btn-outline-orange:active:not(:disabled):not(.disabled), .show > .btn-outline-orange.dropdown-toggle {
	background-color: #fa7205;
	border-color: #fa7205;
	color: #fff;
}
.btn-outline-orange:hover {
	background-color: #fa7205;
	border-color: #fa7205;
	color: #fff !important;
}
.btn-outline-orange.focus, .btn-outline-orange:focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
.btn-outline-orange:focus {
	color: #fa7205;
}
.btn-outline-orange.fill {
	background-color: #fa7205;
	color: #fff !important;
}
/* ./END - orange button */

/* orange button */
.btn-info {
	background-color: #00c0ef;
	background-image: none;
	border-color: #00c0ef;
	color: #fff;
}
.btn-info:hover {
	background-color: #05a5ef;
	border-color: #05a5ef;
	color: #fff;
}

.btn-outline-info {
	background-color: transparent;
	background-image: none;
	border-color: #05a5ef;
	color: #05a5ef;
}
.btn-outline-info:hover {
	background-color: #00c0ef;
	border-color: #00c0ef;
	color: #fff !important;
}
.btn-outline-info:focus {
	color: #05a5ef;
}
/* ./END - info button */

/* red button */
.btn-outline-red, .btn-outline-danger {
	background-color: transparent;
	background-image: none;
	border-color: #F74A4A;
	color: #F74A4A;
}
.btn-outline-red:hover , .btn-outline-danger:hover{
	background-color: #F74A4A;
	border-color: #F74A4A;
	color: #fff !important;
}
.btn-outline-red:focus,.btn-outline-danger:focus {
	color: #F74A4A;
}
/* ./END - red button */

/* default button */
.btn-outline-default {
	background-color: transparent;
	background-image: none;
	border-color: #757575;
	color: #757575;
}
.btn-outline-default:hover {
	background-color: #444;
	border-color: #444;
	color: #fff !important;
}
.btn-outline-default:focus {
	color: #444;
}
/* ./END - default button */

.bg-orange {
	background-color: #ff851b !important;
}
.bg-red {
	background-color: #dd4b39 !important;
}
.bg-green {
	background-color: #00a65a !important;
}