/*@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');*/
@import url('font-railway.css');
@import url('font-opensans.css');
@import url('grid-view.css');
@import url('responsive.css');
@import url('button.css');

body {
    color: #707070;
    font-size: 13px;
    font-family: "Raleway",sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
}

.form-horizontal .control-label .required {
    color: #ef0000;
}

.pagination li {
    cursor: pointer;
}

.datepicker {
    padding: 0;
}

.form-control.datepicker {
    padding-left: 10px;
}

.dataTable thead {
    background: #f9f9f9;
}

h2.box-title {
    color: #888;
    font-weight: bold;
}
.box-title {
    color: #222222;
    font-size: 18px;
    font-weight: 600;
}
.pointer{
    cursor: pointer;
}
/*
.wrapper {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    position: absolute;
}*/

.content-wrapper {
    width: 100%;
    min-height: 100%;
    /*height: auto !important;
    position: absolute;*/

    height: auto !important;
    min-height: 690px !important;

}

/*

.main-footer{
    width: 100%;
    bottom: 0;
    position: absolute;
}*/

.textarea-disabled-html {
    background-color: #eeeeee;
    border: 1px solid #d2d6de;
    box-shadow: none;
    padding: 6px 12px;
    min-height: 150px;
}

.input-disabled-html {
    background-color: #eeeeee;
    border: 1px solid #d2d6de;
    box-shadow: none;
    padding: 6px 12px;
}

.navbar-nav > li > .dropdown-menu {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(166, 166, 166, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(166, 166, 166, 1);
    box-shadow: 0px 0px 5px 0px rgba(166, 166, 166, 1);
}

.dataTables_filter .btn {
    line-height: 15px;
}

.modal-footer {
    text-align: left;
}

.simple-notification.error {
    background: #F44336;
}

.simple-notification.success {
    background: #00cc6c !important;
}

.simple-notification.success .sn-progress-loader span {
    background: #286b4c !important;
}

.simple-notification.alert {
    background: #ffdb5b;
}

.simple-notification.info {
    background: #03A9F4;
}

label {
    font-weight: 300;
}

.label-profile-name {
    color: #8d8c8c;
    font-weight: 600;
    font-size: 20px;
}

.profile-brief-overview {
    font-size: 13px;
}

table.view-detail td {
    padding: 6px;
}

.clear {
    clear: both;
}

.calendar-left-section {
    padding-right: 0;
    width: 16%;
}

.calendar-main-section {
    width: 64%;
}

.calendar-right-section {
    padding-left: 0;
    width: 20%;
}

.calendar-doctor {
    line-height: 25px;
}

.calendar-doctor .fa.fa-circle {
    font-size: 20px;
    margin-right: 5px;
    margin-top: 3px;
}

.calendar-doctor .name {
    display: inline-block;
    left: 34px;
    margin-top: 0;
    position: absolute;
}

.calendar-doctor .patient-count {
    float: right;
    margin-right: 15px;
}

.skin-blue .main-header .navbar, .skin-blue .main-header li.user-header {
    background-color: #F6F6F6;
}

.content-wrapper, .right-side, .subnav .nav > .active {
    background-color: #F6F6F6;
}

.subnav .nav > .active {
    color: #1267bb;
}

.main-header .navbar .nav > .active > a {
    background: #F6F6F6 !important;
    font-weight: 600;
}

.subnav {
    background-color: #2cb7df !important;
}

.subnav .nav > li > a {
    color: #fff ;
}
.subnav .nav > li.active > a {
    color: #2cb7df ;
}

.skin-blue .main-header .navbar .nav > li > a,.main-header .navbar .nav > .active > a, .btn-link a{
    _color: #2cb7df;
}
.skin-blue .main-header .navbar .nav > li > a:hover, .skin-blue .main-header .navbar .nav > li > a:active, .skin-blue .main-header .navbar .nav > li > a:focus, .skin-blue .main-header .navbar .nav .open > a, .skin-blue .main-header .navbar .nav .open > a:hover, .skin-blue .main-header .navbar .nav .open > a:focus, .skin-blue .main-header .navbar .nav > .active > a{
    background: transparent none repeat scroll 0 0 !important;
}
/*.subnav .nav > .active {
    background: #ECF0F5;
    color: #048abb;
}*/

#flash-message-fixed {
    font-size: 17px;
    opacity: 0.96;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#flash-message-fixed .success {
    background-color: #0dab5a;
    border: 1px solid #03a150;
    color: #FFF;
    padding: 15px;
}

#flash-message-fixed .error {
    background-color: #dd4b39;
    border: 1px solid #d64432;
    color: #FFF;
    padding: 15px;
}

#flash-message-fixed .success .close {
    color: #FFF !important;
}

#flash-message-fixed .error .close {
    color: #FFF !important;
}

.label-day {
    margin-left: 5px;
    cursor: pointer;
}
.content-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}
blockquote.calendar-doctor {
    border-left: 5px solid #eee;
    font-size: 14px;
    margin: 0 0 5px;
    padding: 5px;
}

.dhx_cal_container * {
    box-sizing: unset !important;
}

.dhx_cal_event {
    font-size: 12px;
}

.dhx_cal_event .dhx_footer {
    _background: rgba(0, 0, 0, 0) url("../dhtmlx/imgs_dhx_terrace/resizing.png") no-repeat scroll center center !important;

    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}

.form-horizontal .control-label {
    _text-align: left;
}

.cursor-pointer {
    cursor: pointer;
}

.clear {
    clear: both;
}

.view-clinic-timing-label {
    font-size: 12px;
    margin-left: 23px;
}

.view-clinic-timing-preview {
    background-color: #fce8a1;
    color: #646464;
    padding: 12px;
}

span.required {
    color: #f91111;
}

/*.errorSummary {
    background-color: #eacece;
    border: 1px dotted #9c8080;
    color: #703f3f;
    padding: 5px 5px 5px 12px;
}

.errorSummary > p {
    margin: 0;
}

.errorSummary > ul {
    padding: 0 0 0 22px;
}*/

.errorSummary p {
    border-bottom: 1px solid #f47373;
    margin-bottom: 5px;
}
.errorSummary {
    background-color: #f74a4a;
    border: 2px dotted #cf2222;
    color: #fff;
    margin-bottom: 10px;
    padding: 10px 10px 0;
    font-size: 12px;
}
.errorSummary > ul {
    padding-left: 11px;
}


.specialization-tag-box {
    margin-bottom: 20px;
    margin-top: 15px;
}

.specialization-tag-box .tag {
    background-color: #e2e2e2;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 5px 5px 5px;
    float: left;
}

.tag-close {
    margin-left: 8px;
}

.education-file-box {
    margin-bottom: 20px;
    margin-top: 15px;
}

.form-group .help-block {
    font-size: 11px;
}

blockquote .small::before, blockquote footer::before, blockquote small::before {
    content: "";
}

.fa-question-circle {
    font-size: 14px;
}

.timing-box {
    font-size: 12px;
    background-color: #f9ef7c;
    color: #595959;
    padding: 10px;
}

.timing-box .session1-box {
    padding-left: 24px;
}

.calendar-appointment-list {
    font-size: 13px;
    color: #848080;
}

.calendar-appointment-list .patient-name-label {
    color: #4b4c4c;
    font-weight: 600;
}

.calendar-appointment-list .doctor-name-label {
    font-size: 12px;
}

.listing-thumb {
    padding: 0;
}

.listing-thumb > .col-md-3 {
    margin-bottom: 15px;
}

.listing-thumb > .thumb-list {
    max-height: 130px;
}

.text-left {
    text-align: left !important;
}

.view-table .sep {
    display: inline-block;
    width: 22px;
    padding-left: 5px;
    text-align: left;
}

.view-table td {
    padding: 4px;
}

.datepicker, .bootstrap-datetimepicker-widget {
    z-index: 99999 !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    -webkit-box-shadow: 0px 1px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px -2px rgba(0, 0, 0, 0.75);
}

.appointment-cancelled-box {
    background-color: #fcde83;
    border: 1px solid #fcde83;
    padding: 10px;
}

.thumb .thumbnail {
    background-color: #000;
    display: table-cell;
    height: 110px;
    text-align: center;
    vertical-align: middle;
}

.thumb .thumbnail img {
    max-height: 96px;
}

.thumb .thumbnail.small {
    background-color: #fff;
    display: table-cell;
    height: 50px;
    width: 80px;
    min-width: 80px;
    border-radius: 0;
    vertical-align: middle;
}

.thumb .thumbnail.small img {
    max-height: 40px;
}

#flash-message-fixed .close {
    font-size: 35px;
    margin-right: 30px;
    margin-top: -5px;
    opacity: 1;
    text-shadow: unset;
}

#flash-message-fixed .error .close {
    color: #fff;
}

#flash-message-fixed .success .close {
    color: #3b3b3b;
}

.colorpicker-element .input-group-addon {
    padding: 0;
}

.colorpicker-element .input-group-addon i, .colorpicker-element .add-on i {
    height: 32px;
    width: 48px;
}

.colorpicker {
    margin-top: 0;
    padding: 0;
    z-index: 999;
}

.colorpicker::before {
    top: 0;
}

.no-padding-left {
    padding-left: 0;
}

.list-thumb-md {
    width: 150px;
    height: 150px;
}

#loading-message-fixed {
    font-size: 17px;
    left: 50%;
    margin-left: -100px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 200px;
    z-index: 9999;

    background-color: #323b43;
    border: 1px solid #6e777f;
    color: #fff;
    letter-spacing: 1px;
    padding: 6px;
}

.before-load {
    display: none;
}

.has-sidebar .content-wrapper {
    margin-left: 230px;
    width: auto;
}

#navbar-collapse .navbar-nav {
    float: unset;
}

.nav.nav-tabs{
    background-color: #ECF0F5;
}
.nav-tabs .active a {
    color: #555555;
    font-weight: 600;
    border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

ul.privacy-role li.active {
    background-color: #F0F0F0;
}

.privacy-box {
    background-color: #F0F0F0;
    min-height: 280px;
}

.readonly {
    background-color: #eee;
}

.input-group .input-group-addon {
    background-color: #eee;
}

.thumb-list > .col-md-12 {
    min-height: 130px;
}

.thumb-list .border {
    border: 1px solid #d4e0ec;
}

.errorMessage {
    color: #e51d1d;
    font-size: 12px;
}
.w-45 {
    width: 45px;
}

.w-120 {
    width: 120px;
}

.h-215 {
    height: 215px;
}

.box.box-info, .box.box-primary {
    border-top-color: #3d92e6;
}

.thumbnail.medium {
    border: 1px solid #c1c1c1;
    display: table-cell;
    height: 107px;
    width: 180px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.thumbnail.medium > img {
    max-width: 100%;
}


.nav.nav-tabs.scheduling > li {
    background-color: #ECF0F5;
    margin: 0;
    width: 25%;
}

.nav-tabs.scheduling > li.active {
    border-top-color: #3c8dbc;
}

.nav-tabs.scheduling > li > a {
    font-size: 11px;
    padding: 8px 8px;
}

.nav-tabs.scheduling li.active {
    border-top-color: #fff;
    /*border-top-color: #b8cee9;*/
}

.nav-tabs.scheduling .active a {
    background-color: #fff !important;
    color: #000 !important;
}

.activity-status-button {
    padding: 0 8px;
}

.activity-action-dropdown .header {
    background-color: #f5f5f5;
    padding: 5px 0;
}

.image-list-thumb {
    width: 80px;
    height: 80px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 108px;
}

#jqueryGrowlDock .panel-success > .panel-heading {
    background-color: #00a65a;
    border-color: #00a65a;
    color: #3c763d;
}

#jqueryGrowlDock .notice.panel.panel-success {
    border: 1px solid #00a65a;
}

#jqueryGrowlDock .close {
    color: #fff;
    font-size: 28px;
    font-weight: normal;
    margin-top: -5px;
    opacity: 1;
    text-shadow: unset;
}

#jqueryGrowlDock .message.panel-body {
    background-color: #f1fffd;
}

#jqueryGrowlDock .panel-heading h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#jqueryGrowlDock .panel-body .footer {
    background-color: #d5efeb;
    margin-bottom: -15px;
    margin-top: 5px;
    padding: 5px;
}

.btn-grey {
    background-color: #777;
    color: #fff;
}

.btn-grey:hover, .btn-grey:active, .btn-grey:focus {
    background-color: #777;
    color: #fff;
}

@media (min-width: 768px){
    .container {
        width: 850px;
    }
}
@media (max-width: 767px){
    .navbar-collapse .nav.navbar-nav .dropdown-menu{
        background-color: #009dcc;
    }
    .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
        border-bottom: 1px solid #55d8ff;
    }
    .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a:hover {
        color: #367fa9;
    }
}
@media (min-width: 992px) {
    .container {
        width: 1150px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1220px;
    }
}
@media (max-width: 768px) {
    #activity-container.col-xs-6 {
        padding-left: 8px !important;
    }

    .mobile-hide{ display: none;}

    .content-wrapper .container {
        padding-left: 18px;
        padding-right: 18px;
    }
    .main-header .navbar-brand {
        padding: 0 !important;
        padding-left: 6px !important;
    }
    .main-header .navbar .navbar-brand > img {
        width: 135px !important;
        margin-top: 18px !important;
    }
    .form-horizontal .form-group {
        margin-right: 0;
        margin-left: 0;
    }
    blockquote {
        padding: 0 !important;
        margin: 0 !important;
    }
    .mobile-width-200{
        width:200px;
    }
    .container > .content-header {
        padding-left: 0 !important;
        padding-bottom: 15px !important;
    }
    .container > .content{
        padding:0 !important;
    }

}

.cursor-move {
    cursor: move;
}

.box-profile .address {
    color: #ababab;
    font-size: 11px;
}

#activity-tab .badge{
    margin-top: 5px;
    padding: 3px 2px;
    text-align: center;
    width: 30px;
}

.clinic-thumb-max-width{
    max-width: 145px;
}

img.border{
    border: 1px solid #ddd;
}
img.frame{
    border: 1px solid #ddd;
    padding: 3px;
}
.width-75 .select2-container {
    width: 75% !important;
}
.select2-container-full .select2-container {
    width: 100% !important;
}

.img-frame-thumb {
    line-height: 160px;
    border: 1px solid #ddd;
    text-align: center;
    width: 145px;
}

.img-frame-thumb img{
    max-width: 143px;
}

.img-frame-small {
    line-height: 50px;
    border: 1px solid #ddd;
    text-align: center;
}

.img-frame-small img{
    max-width: 48px;
}

.img-max-55{
    max-width: 55px;
}

.img-max-55.circle{
    border-radius: 27px;
}

time.icon
{
    font-size: 1em; /* change icon size */
    display: block;
    position: relative;
    width: 7em;
    height: 103px;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #fff, 0 4px 0 #fff, 0 5px 0 #fff, 0 0 0 1px #bdbdbd;
    /*box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;*/
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0deg) skewY(0deg);
    -webkit-transform-origin: 50% 10%;
    transform-origin: 50% 10%;
}

time.icon *
{
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong
{
    position: absolute;
    top: 0;
    padding: 5px 0;
    color: #fff;
    background-color: #506877;
    border-bottom: 1px dashed #314958;
    box-shadow: 0 2px 0 #223a49;
}

time.icon em
{
    bottom: 22px;
    color: #9ca9ab;
    position: absolute;
}

time.icon span
{
    width: 100%;
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 26px;
    color: #2f2f2f;
}

time.icon:hover, time.icon:focus
{
    -webkit-animation: swing 0.6s ease-out;
    animation: swing 0.6s ease-out;
}

time dt {
    bottom: 2px;
    font-size: 15px !important;
    position: absolute;
}


.toggle-more {
    margin: auto;
    width: 100%;
}

.toggle-more:first-child {
    margin-top: 4px;
}

.time {
    margin-bottom: 4px;
    padding: 0 2px;
}

.time a {
    background-color: #2eb0e8;
    border: 1px solid;
    color: #fff;
    display: block;
    font-size: 12px;
    padding: 5px 1px;
}

.time a:hover {
    background-color: #008bc6;
}

.disable-time, .disable-time:hover {
    background-color: #ccc !important;
    text-decoration: line-through !important;
    cursor: no-drop;
}

.booking-availability-table > tfoot {
    background-color: #fafafa;
    cursor: pointer;
    font-weight: bold;
}

.fa-chevron-left, .fa-chevron-right {
    font-size: 17px;
}

.fa.disable {
    color: #ccc;
}

.booking-availability-table thead:first-child tr:first-child{
    border: 2px solid #f4f4f4;
}

.booking-availability-table .fa-chevron-left, .booking-availability-table .fa-chevron-right {
    margin-top: -26px;
    position: absolute;
}

.apoint-time {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #9fcdeb;
    padding: 15px;
}

.apoint-time h4 {
    color: #222222;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
}

.apoint-time span {
    color: #44a7db;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.nav.navbar-nav {
    width: 100%;
}
.header-hint{
    color: #999;
    margin-bottom: 19px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    font-style: italic;
}

.check-success{
    color: green;
}
.check-fail{
    color: red;
}
.check-success , .check-fail{
    font-size: 16px;
}
.list-style-none{
    list-style: none;
}
span.submitting {
    color: green;
    margin-left: 5px;
    font-style: italic;
}
.font-8{
    font-size: 8px;
}
.font-9{
    font-size: 9px;
}
.font-10{
    font-size: 10px;
}
.font-11{
    font-size: 11px;
}
.font-12{
    font-size: 12px;
}
.font-13{
    font-size: 13px;
}
.font-14{
    font-size: 14px;
}
.font-15{
    font-size: 15px;
}
.font-16{
    font-size: 16px;
}
.font-30{
    font-size: 30px;
}
.font-35{
    font-size: 35px;
}
.font-40{
    font-size: 40px;
}
.font-45{
    font-size: 45px;
}
.font-50{
    font-size: 50px;
}

.placeholder-font-11::-webkit-input-placeholder {
    font-size: 11px;
}
.placeholder-font-11::-moz-placeholder {
    font-size: 11px;
}
.placeholder-font-11:-ms-input-placeholder {
    font-size: 11px;
}
.placeholder-font-11::placeholder {
    font-size: 11px;
}

.placeholder-font-12::-webkit-input-placeholder {
    font-size: 12px;
}
.placeholder-font-12::-moz-placeholder {
    font-size: 12px;
}
.placeholder-font-12:-ms-input-placeholder {
    font-size: 12px;
}
.placeholder-font-12::placeholder {
    font-size: 12px;
}

.italic{
    font-style: italic;
}
.color-red{
    color: red;
}
.color-green{
    color: green;
}
.bold{
    font-weight: bold;
}
.max-width-100{
    max-width: 100px;
}
.max-width-100 img {
    max-width: 98px;
}
.max-height-115{
    max-height: 115px;
}
.line-height-100{
    line-height: 100px;
}
.bg-000{
    background-color: #000;
}
.border-ccc{
    border: 1px solid #ccc;
}
.position-absolute{
    position: absolute;
}
.bottom-0{
    bottom: 0;
}
.medikoma-download-form-div{
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}

.warning-block{
    background-color: #ffebc0;
    border: 2px solid #ffb254;
    border-radius: 7px;
    color: #626262;
    font-size: 12px;
    height: 150px;
    margin: 15px 15px 0;
    overflow-y: auto;
    padding: 15px;
}
.warning-block .label {
    display: inline-block;
    margin-right: 2px;
    width: 53px;
}
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav > li.tasks-menu > a:focus,
.skin-blue .main-header .navbar .nav > li.tasks-menu > a:active{
    background-color: #fff !important;
    color: #1267bb !important;
}
.inline-block {
    display: inline-block;
}
.box {
    border-radius: 5px;
    border-top: medium none;
    box-shadow: none;
}
.doctor_img {
    padding: 25px 0;
}
.doctor_img {
    text-align: center;
}
.doctor_img img {
    border: 2px solid #efefef;
    border-radius: 50%;
    box-shadow: 1px 5px 11px rgba(0, 0, 0, 0.5);
    height: 140px;
    width: 140px;
}
.doctor_img h4 {
    font-size: 24px;
    font-weight: 700;
    padding-top: 15px;
}
.doctor_details li {
    color: #222222;
    font-size: 14px;
    font-weight: 600;
}
.doctor_details li {
    border-bottom: 1px solid #e5e4e4 !important;
    list-style: outside none none;
    padding: 15px 0;
    position: relative;
    transition: all 0.6s ease 0s;
}
.doctor_details li a {
    float: right;
}
.doctor_details li a {
    color: #525252;
    font-size: 13px;
    font-weight: 500;
}
.doctor_details li .data {
    color: #525252;
    float: right;
    font-size: 13px;
    font-weight: 500;
}
.not-set-text {
    color: #ce4a4a;
    font-style: italic;
}
ol.breadcrumb{
    display: none;
}
.bg-grey {
    background-color: #f5f5f5;
}
.badge.bg-grey {
    background-color: #a0a0a0;
}


.slide_area #bottom_slider {
    margin: 12px 15px 0;
    position: relative;
    width: 304px;
}
.slider_set #bottom_slider .owl-item {
    width: 53px !important;
}

.clinic-slide #bottom_slider .owl-next::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #000000 !important;
    content: "";
    display: block !important;
    font-family: FontAwesome;
    font-size: 25px;
    height: 30px;
    position: absolute;
    right: -22px;
    top: 0;
    width: 30px;
    z-index: 999;
}

.clinic-slide #bottom_slider .owl-prev::after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #000000 !important;
    content: "";
    display: block !important;
    font-family: FontAwesome;
    font-size: 25px;
    height: 30px;
    left: -25px;
    position: absolute;
    top: 0;
    width: 30px;
    z-index: 999;
}
.clinic-slide #bottom_slider .owl-prev, .clinic-slide #bottom_slider .owl-next {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    font-size: 0 !important;
}
.date_day h4{background:#2cb7df;color:#fff;font-size:12px;padding:4px;}
.date_day h4,.date_day h2,.date_day p{margin: 0;}
.date_day{width:84px;height:100px;text-align:center;background:#f6f6f6;border:1px solid #efefef;display: inline-block;}
.date_day .time {
    font-size: 15px;
    font-weight: 600;
    margin-top: 2px !important;
}
.date_day .mnt {
    font-size: 12px;
    margin: 1px 0;
}
.date_day .tme {
    font-size: 14px;
}
.small-size.date_day {
    height: 85px !important;
    width: 70px !important;
}

.small-size.date_day h4 {
    font-size: 10px;
    padding: 3px;
}

.small-size.date_day .date p {
    font-size: 10px;
}

.small-size.date_day .date h2 {
    font-size: 18px;
    margin-top: 4px;
}
.small-size.date_day .time {
    font-size: 13px !important;
    margin-top: 4px !important;
}

.appointment-doctor-details .box , .appointment-patient-details .box , .other-appointment-details .box {
    background-color: #f7f7f7;
    margin-bottom: 0;
}
.table_cstm th {
    border: medium none !important;
}
.tab_background {
    background: #f6f6f6 none repeat scroll 0 0;
}
.table_cstm td {
    padding: 10px !important;
}
.table_cstm td {
    border: medium none !important;
}
.grid-table .table-bordered {
    border: medium none;
}
.grid-table th {
    border: medium none !important;
}
.main-header .navbar {
    _min-height: 85px;
}
.main-header {
    max-height: unset;
}
.main-nav li, .main-nav a, .navbar-nav a {
    _line-height: 55px !important;
}
.navbar-nav > li > a {
    padding-bottom: 20px;
    padding-top: 20px;
}


.main-nav a {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.navbar-brand > img {
    margin-top: 6px;
    max-width: 90%;
}

ul.main-nav, .main-nav .navbar-custom-menu > ul{
    padding-bottom: 20px;
    padding-top: 20px;
}
.navbar-custom-menu > .navbar-nav > li:last-child {
    border: medium none;
}

.help.btn:active {
    box-shadow: none;
}

.help i {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
    color: #F55E13;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
}
.skin-blue .main-header .navbar .nav > li > a.help, .main-header .navbar .nav > .active > a.help {
    color: #fff !important;
}
.skin-blue .main-header .navbar .nav > li > a.help>i, .main-header .navbar .nav > .active > a.help>i {
    color: #F56117 !important;
}
a.help {
    color: #f55e13 !important;
}
.help.btn.btn-link span {
    margin-left: 10px;
    color: #f55e13;
}
.dropdown.tasks-menu{
    padding-right: 15px;
}
.skin-blue .main-header .navbar .nav > .active > a {
    color: #2cb7df;
    padding: 20px 10px;
}
.skin-blue .main-header .navbar .nav > .active:hover > a {
    color: #19a4cc;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    margin-top: 5px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.main-nav a {
    color: #2cb7df !important;
}

.skin-blue .main-header .navbar.no-sub-nav, .skin-blue .main-header .no-sub-nav li.user-header {
    background-color: #2cb7df ;
}
.main-header .navbar.no-sub-nav .help.btn.btn-link span {
    color: #fff;
}
.main-header .navbar .navbar-brand > img {
    margin-top: -2px;
    width: 175px;
}
.form-control.page-search-input {
    border-radius: 25px;
    height: unset;
    padding: 7px 13px;
}
.set_search i {
    font-size: 14px;
    right: 29px;
    top: 9px;
}
.set_search i {
    color: #8e8e8e;
    font-size: 15px;
    position: absolute;
    right: 32px;
    top: 10px;
}
.search-form {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 20px;
    padding-top: 20px;
}
.listing-thumb .inner_part, .right_side_bar .inner_part {
    min-height: 155px;
}
.listing-thumb .inner_part, .right_side_bar .inner_part {
    background: #f0f3f9 none repeat scroll 0 0;
    margin-bottom: 25px;
    height: 150px;
    padding: 15px;
}.listing-thumb .media-left img {
     border: 1px solid #fff;
     box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.19);
 }
.col-md-4 .media-left img {
    max-width: 150px !important;
}
.listing-thumb .media-left img {
    max-height: 121px;
}
.listing-thumb .media-left img {
    min-width: 151px;
}
.media-left .mr-3 {
    border: 1px solid #c0c0c0;
}.listing-thumb .inner_part .media-body {
     padding-left: 10px;
 }.listing-thumb .media-body h5 {
      font-size: 16px;
      font-weight: 700;
  }
.listing-thumb h5 {
    color: rgb(68, 68, 68);
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.listing-thumb .media-body a {
    color: #888888;
}
.listing-thumb .media-body p {
    color: #888888;
    font-size: 13px;
    line-height: 18px;
}
.listing-thumb .specialist {
    padding: 5px 0;
}
.listing-thumb .specialist {
    color: #2cb7df !important;
    font-size: 14px !important;
    font-weight: 500;
    padding: 7px 0;
}
.listing-thumb p {
    margin: 0;
}
.close-circle {
    background-color: #2cb7df;
    border: 1px solid #dbe9ed;
    border-radius: 38px;
    padding: 3px 3px 3px 2px;
    position: absolute;
    text-align: center;
    width: 31px;
}.close-circle a {
     color: #fff;
     font-size: 16px !important;
 }
 .clinic-edit-image-box{
     padding: 20px 17px;
     background: #f6f6f6 none repeat scroll 0 0;

 }
.nav.nav-tabs {
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}
.btn-cover.input-group-addon {
    padding: 0;
}
.btn-cover .btn {
    line-height: 0;
    padding: 0 8px;
    background: transparent;
}
.btn-cover .btn:active {
    box-shadow: none;
}
.nav-pills > li > a > .fa, .nav-pills > li > a > .glyphicon, .nav-pills > li > a > .ion {
    font-size: 17px;
    margin-right: 10px;
}
.nav-stacked > li.active > a, .nav-stacked > li.active > a:hover {
    border-left-color: #2cb7df;
    color: #2cb7df;
}
.patient-left-bar .nav-stacked > li.active > a, .patient-left-bar .nav-stacked > li.active > a:hover {
    border-left-color: #2cb7df !important;
    color: #2cb7df !important;
}
.patient-left-bar .nav-pills>li.active>a, .patient-left-bar .nav-pills>li.active>a:focus, .patient-left-bar .nav-pills>li.active>a:hover {
    color: #1c81a2 !important;
    background-color: #f6f8fb !important;
}
.patient-left-bar .nav-stacked > li.active-color > a{
    color: #2cb7df !important;
}
.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
    color: #2cb7df;
}
.content-header > h1 {
    color: #444;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    background-color: #2cb7df;
}
.no-sub-nav .user-menu span {
    color: #fff;
}
.no-sub-nav .content-header {
    padding: 0 0 15px;
}
.profile-listing-img {
    max-width: 118px;
}.divider-30 {
     border-bottom: 1px dashed #ddd;
     height: 0;
     margin-top: 23px;
 }.media:first-child {
      margin-top: 0 !important;
  }
.no-sub-nav .profile-li a {
    color: #fff !important;
}
.nav .profile-li-sp {
    border-right: 1px solid #dbdbdb;
}
.main-footer b, .main-footer strong {
    font-weight: 500;
}.main-footer {
     color: #777;
}
.profile-home a {
    color: #fff !important
}
.profile-home .active a {
    color: #2cb7df !important
}.profile-home .active {
     background-color: #f6f6f6;
     margin-bottom: -22px;
     margin-top: -20px;
     padding-bottom: 22px;
     padding-top: 22px;
}
.border-bottom-light {
    border-bottom: 1px solid #eeeeee;
}
.bottom_slider img{
    height: 36px;
    width: 36px;
}
.listing-thumb .empty{
    background: #f8f8f8 none repeat scroll 0 0;
    display: inline-block;
    padding: 15px 10px;
    width: 100%;
}
.subnav .dropdown-menu{
    /*height: 124px !important;*/
}
.welcome-box li{
    list-style: none;
}
.home-step-ul {
    margin: 0;
    padding: 0;
}
.full-feature-text {
    border: 1px solid #c0d4c0;
    color: green;
    margin-top: 12px;
    padding: 7px 7px 13px;
}
.doctor_details > li:last-child {
    border: medium none !important;
}
.super-nav{
    background-color: #2cb7df !important;
}
.super-nav li.active{
    background-color: #F6F6F6 !important;
}
.super-nav .navbar-brand > img {
    margin-top: -4px !important;
}

/* owl slider */
#upper_slider .owl-wrapper-outer {
    border: 1px solid #ddd;
    line-height: 210px;
    max-height: 218px;
    text-align: center;
}
#upper_slider .owl-item .item {
    border: medium none;
    background-color: unset;
    line-height: 214px;
    display: inline-block;
}
#upper_slider .owl-item .item img {
    height: unset;
    width: 100%;
}
.bottom_slider {
    margin-top: 20px;
}
.bottom_slider img {
    height: 36px;
    width: 36px;
}
.bottom_slider .owl-item .item {
    border: medium none;
    height: 50px;
    line-height: 47px;
    overflow: hidden;
}
.bottom_slider img {
    height: unset;
    width: 44px;
}
.bottom_slider .owl-item .item {
    background-color: #000;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.clinic-slide #bottom_slider .owl-prev::after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #000000 !important;
    content: "";
    display: block !important;
    font-family: FontAwesome;
    font-size: 25px;
    height: 30px;
    left: -25px;
    position: absolute;
    top: 0;
    width: 30px;
    z-index: 999;
}
.clinic-slide #bottom_slider .owl-next::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #000000 !important;
    content: "";
    display: block !important;
    font-family: FontAwesome;
    font-size: 25px;
    height: 30px;
    position: absolute;
    right: -22px;
    top: 0;
    width: 30px;
    z-index: 999;
}
.owl-theme .owl-controls .owl-buttons div {
    background: unset;
}
.owl-padding-item{
    padding-right: 15px;
}
/* end owl slider */


.direct-chat-img .initial{
    display: block;
    font-size: 20px;
    margin-top: 9px;
}

.chat-green.direct-chat-text {
    background-color: #e8ffce;
    border: 1px solid #d5ecbb;
}

.chat-green .direct-chat-text::after, .direct-chat-text::before {
    border-color: transparent #d5ecbb transparent transparent;
}

.chat-green .direct-chat-text::after, .direct-chat-text::before {
    border-color: transparent #d5ecbb transparent transparent;
}

.chat-green.direct-chat-text {
    background-color: #e8ffce;
    border: 1px solid #d5ecbb;
}

.initial-circle {
    text-align: center;
    width: 52px;
    height: 48px;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(250, 250, 250);
}
.grid-chats{
    max-width: 400px; margin-bottom: 0px;
}
.grid-chats .direct-chat-text{
    margin-left: 67px; min-height: 45px;
}
.grid-chats .label-patient{
    clear: both; width: 53px; text-align: center;
}
.grid-chats .reply-label{
    margin-left: 72px; margin-top: 5px;
}
.reply-chat-grey{
    background-color: #f2f2f2; padding: 10px; min-height: 70px;
}
.vtop{
    vertical-align: top;
}
.report-text-block{
    background-color: #fce5e5;
    border: 1px solid #e4cdcd;
    color: #675050;
    font-size: 12px;
    padding: 10px;
}
.feedback-report-warning{
    font-size: 11px; padding: 10px; color: rgb(102, 0, 0); border: 2px solid rgb(222, 188, 188);
}
.feedback-grid-info-hdr {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 5px;
}
.clinic-feedback-notify-remark .feedback-remark-block{
    margin-left: 30px;
}
.feedback-remark-block{
    line-height: 10px; float:left; color: green; font-weight: bold
}
.bold, b{
    font-weight: 600
}
.date-small{
    color: #999;
    font-size: 11px;
}
.text-truncate{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* loading css */
.loadingbox.loading-indicator.loaderError > img,.loadingbox.loading-indicator.loaderSuccess > img {
    display: none;
}
#alwaysLoading {
    background-color: transparent;
    z-index: 999;
    text-align: center;
    background-image: url("../images/core/alwaysLoading.gif");
    background-position: 49%;
    background-repeat: no-repeat;
    width: 220px;
    height: 20px;
    vertical-align: middle;
    position: fixed;
    margin: -10px 0 0 -110px;
    top: 40%;
    left: 51%;
}

.loadingbox{dispslay:none;position:absolute;background:rgba(255,255,255,0);z-index:999; cursor:pointer}
.loading-indicator{displasy:none;position:fixed;padding:20px 0;text-align:center;background-color:#c4f2ff;border:1px solid #BEBEBE;
    /*background-image: url("../images/core/message-info.png");
background-position: 15px 20px;
    background-repeat: no-repeat;*/
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    font-size:1.5em;color:#3797ce;font-weight:bold;width:400px;z-index:100}



.loading-indicator img{vertical-align:middle;padding:0 0 0 10px}
.loading-indicator{display:none;padding:20px 0;text-align:center;font-size:1.2em;color:#000;font-weight:bold}
.loading-indicator img{vertical-align:middle;padding:0 0 0 10px}

.loadingbox{
    position: fixed;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
    z-index: 9999;
}

.loadingboxLoginCheck{dispslay:none;position:absolute;background:#F7F7F7;z-index:999}
.loadingboxLoginCheck{
    position: fixed;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 57%;
}

.loaderSuccess{
    border:1px solid #B5D56D !important;
    background-color:#E1F1C0;
    color:#549618 !important;

    /*background-image: url("../images/core/message-success.png");*/
    background-position: 15px 20px;
    background-repeat: no-repeat;
}
.loaderError{
    border:1px solid #c46b6e !important;
    background-color:#FFCBCA !important;
    color:#9B4449 !important;

    /*background-image: url("../images/core/message-error.png");*/
    background-position: 15px 20px;
    background-repeat: no-repeat;
}
.loaderWaiting{

    background-color: #BCE5F7;
    border-color: #A6D3E8;
    color: #2484bb !important;

    /*background-image: url("../images/core/message-info.png") ;*/
    background-position: 15px 20px;
    background-repeat: no-repeat;
}
.loading{

    /*background-image: url('../images/loading.gif');*/
    background-position:  center center;
    background-repeat: no-repeat;
    opacity: 1;
    height:267px;
    margin-top:50px;
}
.loading-sm{
    /*background-image: url('../images/loading-sm.gif');*/
    background-position:  center center;
    background-repeat: no-repeat;
    height:267px;
}
.loading-tiny{
    /*background-image: url('../images/loading_tiny.gif');*/
    background-position:  center center;
    background-repeat: no-repeat;
}
.upload-photos-link-block{
    background-color:  #F6F6F6;
    margin-bottom:  10px;
    padding: 5px;
    text-align:  center;
    margin-top: 8px;
}
.logo-preview-box{
    width: 200px;
    background-color: #e6e6e6;
    margin-bottom: 10px;
}
.logo-preview-title{
    font-weight: 600;
    background-color: #dedede;
    text-align: center;
    padding: 5px;
}
.logo-preview-body{
    padding: 10px;text-align: center;
}
.bg-transparent{
    background: transparent !important;
}
.choose-book-btn-block .btn-div img{
    max-width: 270px !important;
}

.listing-row{
    -webkit-box-shadow: -1px 1px 5px -1px rgba(186,186,186,1);
    -moz-box-shadow: -1px 1px 5px -1px rgba(186,186,186,1);
    box-shadow: -1px 1px 5px -1px rgba(186,186,186,1);
}
.listing-row .header{
    background-color: #e8e8e8;
}
.listing-row .divider{
    border-bottom: 1px solid #e6e6e6 !important;
}
.listing-row .row-header th{
    border-bottom: 2px solid #dedede;
}

.emr-notes{
    -webkit-box-shadow: -1px 1px 5px -1px rgba(186,186,186,1);
    -moz-box-shadow: -1px 1px 5px -1px rgba(186,186,186,1);
    box-shadow: -1px 1px 5px -1px rgba(186,186,186,1);
}
.emr-notes .header{
    background-color: #e8e8e8;
}
.emr-notes .divider{
    border-bottom: 1px solid #ddd !important;
}
.emr-note-search-input {
    border-radius: unset;
    height: 28px;
}
.position-absolute-bottom {
    bottom: 0;
    position: absolute;
}
.overflow-auto{
    overflow: auto;
}
.close-circle.small {
    border-radius: 38px;
    padding: 3px 7px;
    width: 25px;
}

.close-circle.small a {
    font-size: 13px !important;
}
.font-12-force{
    font-size: 12px !important;
}
.treatment-total-bar{
    background-color: #ececec;
    padding: 10px;
    font-weight: 600;
    border-top: 2px solid #e2e1e1;
    font-size: 15px;
}
.list-row-header {
    background-color: #ececec;
    padding: 5px 5px 5px 15px;
    margin-left: -15px;
    margin-right: -15px;
    font-weight: 600;
}
.input-xs {
    height: 23px;
    font-size:12px;
}
.default-textfield-as-link{
    color: #3c8dbc;
    border-color: transparent;
}
.default-textfield-as-link:hover{
    border-color: #d2d6de;
}
.recent-added-success-row, .recent-added-success-row:hover, .recent-added-success-row:active, .recent-added-success-row:focus{
    background-color: #e6ffd0 !important;
}
.list-row-date-header{
    color: #6b6b6b;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
    /*border: 2px solid #efefef;
    width: 150px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 0 30px 0px 0;
    border-bottom: none;
    -webkit-box-shadow: -1px 1px 5px -1px rgba(186,186,186,1);
    -moz-box-shadow: -1px 1px 5px -1px rgba(186,186,186,1);
    box-shadow: -1px 1px 5px -1px rgba(186,186,186,1);*/
}
tfoot th{
    font-weight: 600 !important;
}
.tr-header, .tr-header, .tr-header:hover, .tr-header:focus, .tr-header:active{
    background-color:#dcecff;
    background-image: -moz-linear-gradient(180deg, #dcecff, #c3dcf9);
    background-image: -webkit-linear-gradient(180deg, #dcecff, #c3dcf9);
    background-image: -o-linear-gradient(180deg, #dcecff, #c3dcf9);
    background-image: -ms-linear-gradient(180deg, #dcecff, #c3dcf9);
    background-image: linear-gradient(180deg, #dcecff, #c3dcf9);
}
.tr-header img{
    border-right: 2px solid #FFF;
}

#flash-message-fixed .success {

    background-color:#89f379;
    background-image: -moz-linear-gradient(180deg, #89f379, #4dd635);
    background-image: -webkit-linear-gradient(180deg, #89f379, #4dd635);
    background-image: -o-linear-gradient(180deg, #89f379, #4dd635);
    background-image: -ms-linear-gradient(180deg, #89f379, #4dd635);
    background-image: linear-gradient(180deg, #89f379, #4dd635);
    background-repeat: repeat-x;
    border-color: #41b323;
    color: #1b1b1b;
    font-weight: 500;
}

#flash-message-fixed .error {
    background-color:#ff6c5a;
    background-image: -moz-linear-gradient(180deg, #ff6c5a, #f32323);
    background-image: -webkit-linear-gradient(180deg, #ff6c5a, #f32323);
    background-image: -o-linear-gradient(180deg, #ff6c5a, #f32323);
    background-image: -ms-linear-gradient(180deg, #ff6c5a, #f32323);
    background-image: linear-gradient(180deg, #ff6c5a, #f32323);
    border: 1px solid #ff6c5a;
    color: #FFF;
    font-weight: 500;
}
.compact-collapsible-block .box-header{
    border-bottom: 1px solid !important;
    padding: 0
}
.compact-collapsible-block .box-tools{
    position: unset;
}
.compact-collapsible-block .btn-box-tool{
    font-size: 15px;
    font-weight: 600;
    color: #666;
    border: 1px solid; border-radius: 5px 5px 0 0;border-bottom: none;
    padding: 4px 8px 4px 8px !important;
}
.compact-collapsible-block .box-body{
    border: 1px solid;
    border-top: none;
}
.compact-collapsible-block .box-header,.compact-collapsible-block .btn-box-tool, .compact-collapsible-block .box-body{
    border-color: #cccccc !important;
}


.filter-collapsible-block .box-header{
    padding: 0
}
.filter-collapsible-block .box-tools{
    position: unset;
}


.filter-collapsible-block.collapsed-box .btn-box-tool{
    background-color: #fff;
}
.filter-collapsible-block .btn-box-tool{
    font-size: 15px;
    font-weight: 600;
    color: #666;
    border-left: 5px solid #ececec;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background-color: #f9f9f9;
    padding: 4px 8px 4px 8px !important;
}
.filter-collapsible-block .box-body{
    padding: 0;
}
.emr-note-added-list {
    _background-color: #f9f9f9;
    padding: 5px
}
.doc-filter-close{
    position: absolute;
    right: 37px;
    font-weight: 600;
    margin-top: 6px;
    cursor: pointer;
    opacity: 0.5;
    font-size: 17px;
}
.doc-filter-close:hover{
    opacity: 1;
}
.calendar-doctor.active{
    border: 1px solid #8adc8a;
    background-color:#c8f5c1;
    background-image: -moz-linear-gradient(180deg, #dffdda, #a8ff99);
    background-image: -webkit-linear-gradient(180deg, #dffdda, #a8ff99);
    background-image: -o-linear-gradient(180deg, #dffdda, #a8ff99);
    background-image: -ms-linear-gradient(180deg, #dffdda, #a8ff99);
    background-image: linear-gradient(180deg, #dffdda, #a8ff99);
    background-repeat: repeat-x;
    color: #0e650e;
    font-weight: 600;
}
.bg-color-white{
    background-color: #FFF !important;
}
.message-template-block{
    background-color: #f5f5f5;padding: 8px;
}
.input-sm .select2-container--default .select2-selection--single, .input-sm .select2-selection .select2-selection--single{
    height: 30px;
    padding: 5px 10px;
}

.intro-feature-bug-fix-btn {
    display: block;
    font-weight: bold;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background: rgba(1, 1, 1, 0.58);
    border: 1px rgba(255, 255, 255, 0.9) solid;
    border-radius: 10px 10px 0 0;
    padding: 15px 20px 15px;
    position: absolute;
    text-transform: uppercase;
    top: 250px;
    right: -65px;
    background-size: cover;
    color: #fff;
    letter-spacing: 4px;
    cursor: pointer;
    transition: all ease 0.1s;
}

.intro-feature-bug-fix-btn:hover {
    right: -63px;
    border-color: #c5d52b;
    color: #c5d52b;
}

.intro-feature-bug-fix-wrap {
    padding: 15px 20px 40px 20px;
    background: #fbfbfb00;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    width: 100%;
    color: #636363;
}

.intro-feature-bug-fix-wrap .title {
    font-size: 14px;
    font-weight: bold;
}

.intro-feature-bug-fix-wrap h2 {
    font-size: 20px;
    line-height: 1.2;
    border-bottom: #d4d4d4 1px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.intro-feature-bug-fix-wrap h3 {
    font-size: 16px;
    line-height: 1.2;
    margin: 25px 0 15px 0;
}

.intro-feature-feature {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.intro-feature-bug-fix-wrap .close {
    float: right;
}
.box .nav-stacked.no-border>li {
    border-bottom: none;
}
.nav-stacked.no-border > li.active > a, .nav-stacked.no-border > li.active > a:hover {
    border-color: transparent;
}

.bg-white{
    background-color: #fff !important;
}
.patient-left-bar i.profile{
    margin-right: 5px !important;
    margin-left: -4px !important;
}
.patient-left-bar i.appointment{
    margin-left: -3px !important;
    margin-right: 6px !important;
}

.patient-left-bar i.lab{
    margin-left: -4px !important;
    font-size: 18px !important;
    margin-right: 7px !important;
}
.patient-left-bar i.billing{
    margin-right: 6px !important;
    margin-left: -2px !important;
}
.patient-left-bar{
    padding: 0;
}
.patient-left-bar .box-header{
    border-bottom: 1px solid #ccc
}
.patient-right-bar{
    border-left: 1px solid #ccc;
    padding: 0;
}
.patient-right-bar > .box{
    margin: 0;
}
.patient-right-bar > .box > .box-header{
    border-color: #ccc;

}
.patient-right-bar > .box > .box-body{
    padding:20px;
    background: #f9f9f9;
}
.patient-left-bar .list-group-item.active>.badge, .patient-left-bar .nav-pills>.active>a>.badge{
    background-color: #777;
    color: #fff;
}
.color-orange{
    color: orange;
}
.clinic-name-nav{
    margin-left: 0px; width: 250px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .clinic-name-nav{
       width: 200px;
    }
}


@media screen and (min-width: 992px) {
    .patient-left-bar{width: 20%;}
    .patient-right-bar {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .patient-right-bar.col-xs-12{
        border-top: 1px solid #CCC;
        border-left: 1px solid #FFF;
    }
}
@media screen and (max-width: 992px) {
    .intro-feature-bug-fix-btn{
        display: none;
    }
}
@media (min-width:768px) and (max-width:992px) {

    .main-nav .clinic-name{
        width:185px;
    }
    .main-nav .clinic-name a{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .trial-nav-info {
        margin-top: 50px !important;
    }
    .user-menu .dropdown-toggle .full-name {
        width: 95px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
    .global-patient-search-container{
        float: right !important;
        padding-bottom: 10px;
    }
}

.dropdown-menu li a.disabled-link,
.dropdown-menu li a.disabled-link:visited ,
.dropdown-menu li a.disabled-link:active,
.dropdown-menu li a.disabled-link:hover {
    color:#d4d4d4 !important;
}
.select-2-xs .select2-container--default .select2-selection--single, .select-2-xs .select2-selection .select2-selection--single {
    padding: 3px 4px;
    height: 26px;
    line-height: 14px;
    font-size: 12px;
}
.select-2-xs .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 20px;
    right: 0;
}
.compact-growl .panel-success .panel-heading a{
    color: #5befab !important;
    font-size: 14px;
}
.compact-growl .panel-success .close{
    color: #5befab !important;
}
.compact-growl .panel-success .panel-body{
    background-color: #00a65a !important;
    color: #fff;
    padding-top: 0;
}

.compact-growl .panel-danger {
    border-color: #bf3f54;
}
.compact-growl .panel-danger .panel-heading{
    background-color: #dc4343 !important;
    border-color: #dc4343 !important;
}
.compact-growl .panel-danger .panel-heading a{
    color: #ffaeae !important;
    font-size: 14px;
}
.compact-growl .panel-danger .close{
    color: #ffaeae !important;
}
.compact-growl .panel-danger .panel-body{
    background-color: #dc4343 !important;
    color: #fff;
    padding-top: 0;
}
.dropdown-menu-emr-pdf-stay-open {
    padding: 2px 10px;
}
.dropdown-menu-emr-pdf-stay-open label {
    font-size: 12px;
}
.is-shared-icon-color{
    color: #7dd018;
}
.shared-option {
    font-size: 12px;
}
.new-label{
    top: -6px;padding: 4px 5px;font-size: 11px;z-index: 9999;
}
.mt-0-force{
    margin-top: 0 !important;
}
.info-box-icon {
    width: 52px;
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 52px;
}
.info-box-content > .info-box-text{
    font-size: 12px;
    font-weight: 600;
}
.info-box i{
    font-size: 35px;
}
.dropdown-menu .menu li.active{
    background-color: #f3f3f3;
}

.timeline-emr {
    position: fixed;
    /*height: 200px;right: 0;margin-right: 80px;margin-top: 100px;*/
}

.dental-content .timeline-emr {
    background: #f7f7f7;
    border: 2px solid #ddd;
    padding-top: 10px;
    max-height: 300px;
}

.timeline-emr .timeline > li > .timeline-item {
    height: 45px;
    box-shadow: none;
    background: transparent;
}

.timeline-emr .timeline > li > .fa {
    background-color: #bfbfbf !important;
    color: #fff !important;
}

.timeline-emr .timeline > li .btn {
    padding: 2px 10px;
}

.timeline-emr .timeline > li > .timeline-item > .time {
    display: block;
    float: unset;
    padding: 0 5px;
    text-align: right;
    font-weight: 600;
    color: #9c9b9b;
    _font-style: italic;
}

.timeline-emr .timeline > li .btn {
    background-color: transparent !important;
    color: #0c6d0c !important;
    font-weight: 600;
    padding: 0 5px;
    margin: 0;
}
.timeline-emr .timeline > li .btn.active {
    background-color: #00a65a !important;
    color: #fff !important;
}
.emr-data > .box-header.active{
    background-color: #efffd4;
}
.account-trial-label{
    background-color: #d02b2b;
    padding: 1px 18px;
    color: white;
    font-weight: 600;
    border-radius: 2px;
    border: 1px solid #b10909;
}
#global-search-patient-form .search-icon-block{
    margin-left: 2px;
    position: absolute;
    z-index: 9;
    margin-top: 8px;
}
#global-search-patient-form .search-icon-block img{
    width: 20px; margin-left: 3px
}
#global-search-patient-form .tt-menu {
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: 0 2px 4px -1px #777777;
    color: #414146;
    margin-top: 2px;
    max-height: 430px;
    overflow-y: scroll;
}

#global-search-patient-form .tt-suggestion {
    border-bottom: 1px solid #e0e0e5;
    cursor: pointer;
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 8px 10px !important;
    text-align: left;
}
#global-search-patient-form .typeahead-empty-text{
    padding: 5px 43px;
}
.border-bottom-green{
    border-bottom: 1px solid green;
}
.sample-report-container .btn-app {
    border-radius: 3px;
    position: relative;
    padding: 5px 21px;
    margin: 0;
    min-width: 80px;
    height: 36px;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 14px;
    line-height: 24px;
    margin-top: -5px;
    margin-left: 28px;
}
.sample-report-container .btn-app>.badge {
    position: absolute;
    top: -7px;
    right: -20px;
    font-size: 10px;
    font-weight: 400;
}
.sample-report-container .btn-app>.fa {
    font-size: 16px;
    display: inline-block;
}
/*
.bell{
    display:block;
    width: 40px;
    height: 40px;
    font-size: 40px;
    margin:50px auto 0;
    color: #72a050;
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}
.bell.fix{
    position: absolute;
    top: 329px;
    right: 10px;
    width: auto;
    height: auto;
    font-size: 18px;
}

@-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }

    43% { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
    0% { -moz-transform: rotate(0); }
    1% { -moz-transform: rotate(30deg); }
    3% { -moz-transform: rotate(-28deg); }
    5% { -moz-transform: rotate(34deg); }
    7% { -moz-transform: rotate(-32deg); }
    9% { -moz-transform: rotate(30deg); }
    11% { -moz-transform: rotate(-28deg); }
    13% { -moz-transform: rotate(26deg); }
    15% { -moz-transform: rotate(-24deg); }
    17% { -moz-transform: rotate(22deg); }
    19% { -moz-transform: rotate(-20deg); }
    21% { -moz-transform: rotate(18deg); }
    23% { -moz-transform: rotate(-16deg); }
    25% { -moz-transform: rotate(14deg); }
    27% { -moz-transform: rotate(-12deg); }
    29% { -moz-transform: rotate(10deg); }
    31% { -moz-transform: rotate(-8deg); }
    33% { -moz-transform: rotate(6deg); }
    35% { -moz-transform: rotate(-4deg); }
    37% { -moz-transform: rotate(2deg); }
    39% { -moz-transform: rotate(-1deg); }
    41% { -moz-transform: rotate(1deg); }

    43% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(0); }
}

@keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }

    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
}*/

.redirecting-label{
    font-size: 14px;
    font-weight: 600;
    color: #4499e6;
    margin-left: 10px;
}
.modal-header .close span{
    font-size: 50px;
    line-height: 0px;
    position: absolute;
    right: 22px;
    top: 25px;
}
.tutorial-video-menu .menu{
    height: 600px !important;
    max-height: 600px !important;
}
.tutorial-video-menu .slimScrollDiv{
    height: 527px !important;
}
.tutorial-video-menu .dropdown-menu a {
    font-size: 13px;
}
.tutorial-video-menu .dropdown-toggle i{
    font-size: 16px;
    margin-top: 2px;
    position: absolute;
    margin-left: -23px;
}
.trial-nav-info {
    right: 0;
    position: absolute !important;
    width: 286px;
    margin-top: -15px;
    font-size: 11px;
    margin-right: 134px;
}
.trial-nav-info .click-here a {
    font-weight: normal;
    color: #f7ff00 !important;
    font-size: 11px;
    margin-left: 3px;
}
.on-trial-block .date_day {
    text-align: center;
    background: #fff2f1;
    border: 1px solid #e0dcdc;
    height: auto;
    width: 105px;
}

.on-trial-block .date_day {
    text-align: center;
    border: 3px solid #ead6d6;
    background: #fff;
    border-radius: 7px 7px 0 0;
}

.on-trial-block h2 {
    font-size: 54px;
    color: #000;
    padding: 15px 0;
}

.on-trial-block .day-left-footer {
    border: 1px solid #941a1a;
    background: #ca2e2e;
    color: #FFF;
    padding: 5px;
    font-weight: 600;
    margin-left: -2px;
    margin-right: -2px;
    margin-bottom: -2px;
    font-size: 14px;
}

.alert-block {
    color: #5a5858;
}

.on-trial-block {
    padding: 10px;
    background: #fbfbfb;
    border: 1px solid #e8e8e8;
}

.on-trial-block.shadow {
    -webkit-box-shadow: 0px 0px 14px 0px rgba(232, 232, 232, 1);
    -moz-box-shadow: 0px 0px 14px 0px rgba(232, 232, 232, 1);
    box-shadow: 0px 0px 14px 0px rgba(232, 232, 232, 1);
}

.on-trial-block .trial-title {
    color: #352b2b;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 5px 0;
}

.on-trial-block .trial-body {
    color: #1e8e1e;
}

hr.divide-package {
    margin-top: 35px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #f5f5f5;
}

.choose-package-title {
    font-size: 21px;
    font-weight: 600;
    color: #4c4747;
    border-bottom: 1px solid #c5c5c5;
    width: 217px;
    display: inline-block;
}

.proposal-block {
    padding: 15px;
    background: #f7f7f7;
    text-align: center;
}

.proposal-block a {
    color: #758596;
    font-weight: 500;
}

.proposal-block .footer {
    font-size: 12px;
    padding: 0;
    line-height: 19px;
    margin-top: 6px;
    color: #949a9e;
}
div.jfilestyle label {
    border: 1px solid #d2d6de !important;
    color: #6d6d6d !important;
}
div.jfilestyle input, div.jfilestyle label {
    padding: 8px 15px !important;
}
div.jfilestyle input {
    border: 1px solid #d2d6de !important;
    background: #f9f9f9 !important;
}
.booking-time-link.active{
    background: #a3c700 !important;
    font-weight: 600 !important;
}
.booking_block .booking-availability-table{
    border: 3px solid #f4f4f4 !important;
}
.booking_block .prev a i{
    padding-left: 11px !important;
}
.modal-video-container{
    height: 445px;overflow: hidden;
}
.modal-video-container > .embed-responsive{
    width: 100%;margin-top: 0;
}
.modal-new-feature-feedback{
    background: #f1f1f1;
    padding: 10px 20px;
}
.modal-new-feature-feedback textarea {
    resize: none;
}
.modal-new-feature-feedback label {
    color: #7e7b88;
    font-weight: 500;
    font-size: 12px;
}
.typeahead-search-container .twitter-typeahead {
    width: 100% !important;
}
.typeahead-search-container .tt-menu {
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: 0 2px 4px -1px #777777;
    color: #414146;
    margin-top: 2px;
    max-height: 430px;
    overflow-y: scroll;
    width: 100%;
}
.typeahead-search-container .tt-suggestion {
    border-bottom: 1px solid #e0e0e5;
    cursor: pointer;
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 8px 10px !important;
    text-align: left;
}
.signature-container{
    border: 1px solid #DDE0D0;
    text-align: center;
}
.signature-container img{
    max-height: 200px;
}
.sigPad .cancel-sign{
    font-size: 11px;
    float: right;
    top:1px;
    border-left: 1px solid #ccc;
}
.sigNav .clearButton {
    bottom: 0.2em;
    display: none;
    float: right;
    font-size: 11px;
    line-height: 1.375;
}
.invoice-data-tooltip{
    left: 165px;
    position: absolute;
    margin-top: -25px;
    float: right;
}
.booking_block .go-for-next {
    border: 0 solid !important;
    left: 50%;
    margin-left: -54px;
    position: absolute;
    top: 170px;
}
.unbilled-items-block{
    background: #ffe4e4;
    color: #6f5151;
    font-size: 12px;
}
.unbilled-items-block > .header, .unbilled-items-block .grid-view table.items > thead{
    background-color: #ffd2d2;padding: 5px;font-weight: 600;color: #480d0d;
}
.unbilled-items-block .dataTables_info .summary{
    color: #8a6f6f;
    font-size: 12px;
}
.unbilled-items-block .grid-view table.items tr.odd,
.unbilled-items-block .grid-view table.items tr.even {
    background: #ffe4e4 none repeat scroll 0 0 !important;
    color: #6f5151;
}
.unbilled-items-block .grid-view table.items th, .unbilled-items-block .grid-view table.items td{
    border: 1px solid #ffe4e4 !important;
}

.global-billing-view-options{
    background: #f3fed2;
}

.global-billing-view-options-block, .global-billing-view-options-block .grid-view table.items tr.odd,
.global-billing-view-options-block .grid-view table.items tr.even{
    background: #f3fed2 !important;
}
.global-billing-view-options-block, .empty{
    background: #f3fed2 !important;
}

.global-billing-view-options-block .grid-view > .items{
    width: 100%;
}
.sms-balance-block{
    background: #14ff14;
    padding: 0 14px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
.sms-sent-patient-tag{
    border: 1px solid #ccc;
    padding: 2px 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 11px;
}
.bulksms-success-flash, .bulkemail-success-flash{
    padding: 10px;
    border: 1px solid #cff1cf;
    background: #e9f8e9;
    color: green;
    margin-bottom: 10px;
}
.bulk-sms-leftbar{
     -webkit-box-shadow: 0px 0px 5px 0px rgba(198, 198, 198, 1);
     -moz-box-shadow: 0px 0px 5px 0px rgba(198, 198, 198, 1);
     box-shadow: 0px 0px 5px 0px rgba(198, 198, 198, 1);
    border-radius: 3px;
 }
.sms-counter-block{
    font-size: 11px;
    font-style: italic;
}
.overflow-hidden{
    overflow: hidden;
}
.full-width {
    width: 100%;
}
a:hover, a:active, a:focus {
    outline: auto;
}
.select2-container--default.select2-container--focus, .select2-selection.select2-container--focus, .select2-container--default:focus, .select2-selection:focus, .select2-container--default:active, .select2-selection:active {
    outline: auto;
    border: 1px solid #c7e5f7;
}
.input-border-underline{
    border: none !important;
    border-bottom: 2px solid #f5f5f5 !important;
}
.input-border-underline:focus{
    border: 1px solid #ccc !important;
}
.emr-data-listing-block{
    background-color: #e8f6ff;
    color: #456c96;
    font-size: 12px;
}
.emr-data-listing-block .input-border-underline{
    background-color: #fff;
    border: 2px solid #d9eefb !important;
    font-weight: 600;
}

.emr-data-listing-block .input-border-underline{
    background-color: #fff;
    border: 2px solid #d9eefb !important;
    font-weight: 600;
}

.emr-data-listing-block .form-control[disabled]{
    background-color: #f1f9ff;
}

.emr-block .form-control::-webkit-input-placeholder {
    font-weight:normal;
    color: #ccc;
    text-align: right;
}
.emr-block .form-control::-moz-placeholder {
    font-weight:normal;
    color: #ccc;
    text-align: right;
}
.emr-block .form-control:-ms-input-placeholder {
    font-weight:normal;
    color: #ccc;
    text-align: right;
}
.emr-block .form-control::placeholder {
    font-weight:normal;
    color: #ccc;
    text-align: right;
}
.billing-total-block{
    background: #ddefdd;
    color: #335f33;
    width: 375px;
    text-align: center;
    font-size: 38px;
    line-height: 62px;
}
.navbar-communication{
    text-align: center;
}

.navbar-communication  .navbar-nav li{
    width: 50%;
    border: 1px solid #ccc;
    font-weight: 600;
}

.navbar-communication  .navbar-nav li.active{
    background: #216a86;
    border: 1px solid #21414d;
}

.navbar-communication  .navbar-nav li a{
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-communication  .navbar-nav li.active a{
    color: #bfdbed;
}

.navbar-communication .navbar-nav li:first-child {
    width: 50%;
    border-radius: 5px 0 0 5px;
    border: 1px solid #21414d;
    border-right: none;
    font-weight: 600;
}

.navbar-communication .navbar-nav li:last-child{
    width: 50%;
    border-radius: 0 5px 5px 0;
    border: 1px solid #21414d;
    border-left: none;
    font-weight: 600;
}
.rating .fa-star.checked{
    color: #28a932;
}
.rank-complete-guide-title{
    color: #106f7e;
}
#lab-notify-fixed-box{
    left: 50%;
    position: absolute !important;
    width: 190px;
    text-align: center;
    margin-top: -20px;
    font-size: 12px;
    margin-left: -101px;

    background-color: #b2e570;
    padding: 4px 10px;
    color: #021b02;
    border-radius: 2px;
    border: 1px solid #95c25a;
    z-index:99;
}

#lab-notify-fixed-box a {
    color: green !important;
}
#lab-notify-fixed-box .label-count{
    font-weight: 600;
    font-size: 16px;
    margin-right: 3px;
}
td.merge {
    background: #ebe8e8;
    border-top: 3px solid #cccccc !important;
}
.sample-waiting-title {
    font-size: 16px;
    font-weight: 600;
    background: #ffeaea;
    padding: 5px 15px;
    width: 400px;
    color: #655656;
    line-height: 30px;
    border: 1px solid #ddb6b6;
}
.got-it-lab-notification-block{
    position: absolute;
    margin-top: 31px;
    margin-right: 136px;
    font-size: 14px;
    font-weight: 600;
}
.main-header .navbar .nav>li>a>.label {
    position: absolute;
    top: 5px;
    right: 7px;
    padding: 3px 8px;
    font-size: 12px;
    line-height: 1;
}
/*Form Wizard*/
.bs-wizard {border-bottom: 0; margin: 0; background: #f0f7fe; padding: 12px 0; }
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px; font-weight: 600;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px; font-weight: 5n00;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #5a8214; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%; text-align: center}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot.success {background: #5a8214;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot.fail {background: #b31007;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; _background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #d9d9d9;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.bs-wizard > .bs-wizard-step .step-label{ font-weight: 600; color: #fff; }
.bs-wizard > .bs-wizard-step > .bs-wizard-dot .label-content {margin-top: 5px}
/*END Form Wizard*/


.qna-left-block {
    margin-top: 10px;
    padding-bottom: 10px;
}

.qna-left-block .question {
    font-weight: 600;
    font-size: 14px
}

.qna-left-block .time {
    font-size: 10px;
    color: #afabab;
    margin-top: 0
}

.qna-left-block .reply-preview {
    font-size: 12px;
    background-color: #f5f5f5;
    padding: 8px;
    margin-top: 3px;
}

.qna-image-circle {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 7px;
    width: 35px;
    text-align: center;
    font-size: 12px;
    background: #fff;
    float: left;
    margin-right: 7px;
}
.qna-right-reply-block .message{
    -webkit-box-shadow: 0px -2px 15px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 15px -13px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 15px -13px rgba(0,0,0,0.75);

    border: 1px solid #e8e8e8;
    padding: 10px;
    background: #f3f3f3;
    _margin-left: 47px;
}
.qna-right-reply-block .patient-image-placeholder{
    border: 1px solid #ccc;width: 35px;padding: 7px;border-radius: 19px;text-align: center;float: left;background: #fff;margin-right: 7px;
}
.qna-right-reply-block .image-circle{
    width: 35px;height: 35px;float: left;margin-right: 5px;border-radius: 21px;border: 1px solid #ccc;
}
.qna-right-reply-block .message-block{
    margin-left: 40px;margin-top: 4px;border-top: 2px solid #e6e6e6;padding-top: 3px;
}
.qna-right-reply-block.mine-active{
    border: 2px solid #82e89a;
}
.form-control.border-highlighted {
    border-color: #3c8dbc;
    box-shadow: none;
}

.qna-left-block .image-circle{
    width: 35px;height: 35px;float: left;margin-right: 5px;border-radius: 21px;border: 1px solid #ccc;
}
.qna-reply-time{
    margin-top: 3px;
    color: #909090;
    font-size: 10px;
}

.qna-patient-image-circle{
    width: 30px;
    border: 1px solid #ccc;
    border-radius: 16px;
    margin-right: 5px;
}
.qna-post-action-links {
    font-size: 12px;
    float: right;
}

.qna-post-action-links ul {
    list-style: none;
    float: right;
    margin-right: 0
}

.qna-post-action-links ul li {
    float: left;
    margin-left: 7px;
    background-color: #eaeaea;
    padding: 3px 9px;
}
.blank-qna-block-for-doctor .title{
    font-size: 16px;
    color: #517a9a;
    margin-top: 10px;
}
.blank-qna-block-for-doctor .title .main{
    font-size: 22px;
    font-weight: 600;
}
.blank-qna-block-for-doctor .base{
    font-size: 17px;
    font-weight: 600;
    color: #887c6c;
    margin-bottom: 20px;
}
.list-group-item.active>.badge, .nav-pills>.active>a>.badge {
    color: #fff;
    background-color: #777;
}
.bill-no-issue-info{
    background-color: #F2F2F2; width: 320px; padding: 10px
}
.setting-nav-child{
    margin-left: 50px !important;
}
.nav-stacked > li.setting-nav-child.active > a, .nav-stacked > li.setting-nav-child.active > a:hover {
    border-left: none;
}
.nav-stacked > li >a {
    font-weight: 600;
}
.nav-stacked > li.setting-nav-child a {
    border-left: none;
    padding: 5px;
    font-weight:normal;
}
.main-header .setting-menu a{
    color: #444444 !important;
}
.skin-blue .main-header .navbar {
    background-color: #2cb7df;
}
.main-header #navbar-search-input.form-control {
    background: #fff;
    border-color: transparent;
}
.slimScrollDiv, .slimScrollDiv>.menu, .main-header .sub-nav .menu{
    overflow: visible !important;
    height: 690px !important;
    max-height: 690px !important;
}
.main-header .sub-nav .child-li{
    margin-left: 40px;
}

.main-header .sub-nav .child-li a{
    padding: 3px !important;
    font-size: 13px;
}
.main-header .dropdown-menu .menu li.active {
    background-color: #ade5ff !important;
    padding-left: 5px;
}
.color-sms-label{
    color: #ff802b;
}
.grid-view table.items tr.selected {
    background: #FFF !important;
}
.grid-view table.items tbody tr:hover {
    background: #FFF !important;
}
.grid-view .filters {
    background-color: #e3eaf2 !important;
}
#dynamic_grid_content.grid-view #purchase-grid table.items thead tr:hover {
    background: #ECFBD4 !important;
}
#dynamic_grid_content.grid-view #purchase-grid table.items thead tr.filters:hover {
    background: #e3eaf2 !important;
}
.drug-stock-alert-block{
    background: red; color: #FFF; line-height: 20px; font-weight: bold
}
.drug-stock-no-alert-block{
    color: green; font-weight: bold
}
.expiry-alert-block{
    width: 90px; text-align: center; background: orange; color: #FFF; line-height: 20px; font-weight: bold
}
.expiry-no-alert-block{
    width: 90px; text-align: center;font-weight: bold
}

.modal-lg {
    width: 90% !important;
}
.dashboard-top-count-block a{
}
.select2-bill-operator .select2-container--default .select2-selection--single, .select2-bill-operator .select2-container {
    height: 27px !important;
}
.select2-bill-operator .select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: -8px !important;
}
.select2-bill-operator .select2-container--default .select2-selection--single .select2-selection__arrow{
    display: none;
}