.teeth-number-list-display-container{
    display: inline-block;
    width: 20px;
    font-size: 15px;
    font-weight: 600;
}
.teeth-display-container{ width: 35px;
    display: inline-block;
    background-color: #fff;
    text-align: center;
    margin-bottom: 5px;
    padding: 3px;
}

.teeth-display-container img{ max-width: 15px}
.teeth {
    margin-left: 2px;
    margin-top: 17px;
}

.teeth-image img {
    width: 26px;
    margin-bottom: 5px;
}

.chart-block {
    padding-left: 40px;
}

.teeth-label {
    margin-left: 11px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.dental-charting-block .col-md-1 {
    width: 39px;
}

.dental-charting-block {
    height: 135px;
    padding-top: 42px;
    width: 100%;
}

.chart-block {
    width: 685px;
}

.index-block {
    width: 180px;
    position: absolute;
    right: 0;
    margin-right: 51px;
    border: 1px solid;
}

.index-block .status-color {
    margin-left: 5px;
}

.index-block .status-text {
    padding-left: 3px;
    margin-top: 4px;
    padding-bottom: 3px;
}

.dental-charting-block .col-md-6 {
    width: 330px;
}

.dental-charting-block.baby-charting .col-md-6 {
    width: 235px;
}

.dental-charting-block.baby-charting .chart-block {
    width: 495px;
}

.cont {
    border: 2px solid #000;
    height: 32px;
    width: 32px;
    background: #000;
}

.teeth .up {
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    width: 28px;
    transform: rotate(180deg);
    margin-top: -18px;
    margin-left: -2px;
    position: absolute;
}

.teeth .left {
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    width: 28px;
    transform: rotate(90deg);
    margin-left: -14px;
    position: absolute;
    margin-top: -6px;
}

.teeth .bot {
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    width: 28px;
    margin-top: 6px;
    margin-left: -2px;
    position: absolute;
}

.teeth .right {
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0px;
    width: 28px;
    transform: rotate(270deg);
    margin-left: 10px;
    margin-top: -6px;
    position: absolute;
}

.teeth .square {
    border-bottom: 16px solid #fff;
    width: 16px;
    margin-top: -11px;
    margin-left: 4px;
    position: absolute;
}

.layer-3 {
    margin-top: 4px;
}

.layer-4 {
    margin-top: -29px;
}

.layer-5 {
    margin-top: -24px;
}

.layer-6 {
    margin-top: -32px;
}

.layer-7 {
    margin-top: -33px;
}

.layer-8 {
    margin-top: -20px;
}

.layer-9 {
    margin-top: -21px;
}

.layer-10 {
    margin-top: -34px;
}

.layer-11 {
    margin-top: -32px;
}

.layer-12 {
    margin-top: -23px;
}

.layer-13 {
    margin-top: -27px;
}

.layer-14 {
    margin-top: 7px;
}

.layer-15 {
    margin-top: 3px;
}

.layer-16 {
    margin-top: 6px;
}

.layer-32 {
    margin-top: 8px;
}

.layer-32 img {
    width: 33px;
    margin-left: -5px;
}

.layer-31 {
    margin-top: 8px;
    margin-left: -4px;
}

.layer-31 img {
    width: 33px;
}

.layer-30 {
    margin-top: 8px;
}

.layer-30 img {
    width: 33px;
}

.layer-29 {
    margin-top: 8px;
    margin-left: 3px;
}

.layer-28 {
    margin-top: 8px;
    margin-left: 2px;
}

.layer-27 {
    margin-top: 5px;
    margin-left: 3px;
}

.layer-26 {
    margin-top: 5px;
    margin-left: 6px;
}

.layer-26 img {
    height: 86px;
    width: 17px;
}

.layer-25 {
    margin-top: 8px;
    margin-left: 6px;
}

.layer-25 img {
    height: 75px;
    width: 18px;
}

.layer-24 {
    margin-top: 8px;
    margin-left: 7px;
}

.layer-24 img {
    height: 75px;
    width: 18px;
}

.layer-23 {
    margin-top: 8px;
    margin-left: 7px;
}

.layer-23 img {
    height: 75px;
    width: 18px;
}

.layer-22 {
    margin-top: 8px;
    margin-left: 3px;
}

.layer-22 img {
    height: 90px;
}

.layer-21 {
    margin-top: 8px;
    margin-left: 3px;
}

.layer-21 img {
    width: 21px;
    height: 72px;
}

.layer-20 {
    margin-top: 8px;
    margin-left: 3px;
}

.layer-20 img {
    height: 73px;
    width: 23px;
}

.layer-19 {
    margin-top: 8px;
}

.layer-19 img {
    width: 33px;
}

.layer-18 {
    margin-top: 8px;
    margin-left: 3px;
}

.layer-18 img {
    width: 30px;
}

.layer-17 {
    margin-top: 8px;
    margin-left: 3px;
}

.layer-17 img {
    width: 34px;
}

.layer-A {
    margin-top: -19px;
}
.layer-A.teeth-image img {
    width: 32px;
}

.layer-B {
    margin-top: -21px;
}
.layer-B.teeth-image img {
    width: 35px;
}

.layer-C {
    margin-top: -37px;
}
.layer-C.teeth-image img {
    width: 32px;
}

.layer-D {
    margin-top: -27px;
}
.layer-D.teeth-image img {
    width: 26px;
}

.layer-E {
    margin-top: -27px;
}
.layer-E.teeth-image img {
    width: 33px;
}

.layer-F {
    margin-top: -27px;
}
.layer-F.teeth-image img {
    width: 33px;
}

.layer-G {
    margin-top: -27px;
}
.layer-G.teeth-image img {
    width: 26px;
}

.layer-H {
    margin-top: -39px;
}
.layer-H.teeth-image img {
    width: 26px;
}

.layer-I {
    margin-top: -22px;
}
.layer-I.teeth-image img {
    width: 29px;
}

.layer-J {
    margin-top: -23px;
}
.layer-J.teeth-image img {
    width: 30px;
}

.layer-K {
    margin-left: 0;
}

.layer-K.teeth-image img {
    width: 34px;
}

.layer-L {
    margin-left: -3px;
}

.layer-L.teeth-image img {
    width: 34px;
}

.layer-M {
    margin-left: -1px;
}

.layer-M.teeth-image img {
    width: 30px;
}

.layer-M {
    margin-left: -1px;
    margin-top: 6px;
}

.layer-M.teeth-image img {
    width: 30px;
}

.layer-N {
    margin-left: 0;
}

.layer-N.teeth-image img {
    width: 32px;
}

.layer-O {
    margin-left: 0;
    margin-top: 6px;
}

.layer-O.teeth-image img {
    width: 30px;
}

.layer-P {
    margin-left: 0;
    margin-top: 6px;
}

.layer-P.teeth-image img {
    width: 28px;
    height: 71px;
}

.layer-Q {
    margin-left: 0;
}

.layer-Q.teeth-image img {
    width: 30px;
    height: 82px;
}

.layer-R {
    margin-left: -1px;
    margin-top: 6px;
}

.layer-R.teeth-image img {
    width: 30px;
    height: 85px;
}

.layer-S {
    margin-left: -3px;
}

.layer-S.teeth-image img {
    width: 34px;
}

.layer-T {
    margin-left: 0;
}

.layer-T.teeth-image img {
    width: 34px;
}

.preview-tooth.whole-surface{
    position: absolute;
    right: 120px !important;
}
.tooth-number-preview {
    position: absolute;
    right: -42px;
    margin-top: -170px;
    font-size: 18px;
    font-weight: 600;
    width: 148px;
    text-align: center;
}

.tooth-image-preview {
    position: absolute;
    right: -4px;
    margin-top: -55px;
    width: 76px;
    text-align: center;
}

.tooth-image-preview img {
    max-height: 81px;
}

.surface-preview {
    position: absolute;
    right: 0;
    margin-top: -135px;
}

.surface-preview .left-text {
    display: block !important;
    position: absolute;
    right: 43px;
    margin-top: 10px;
    z-index: 9;
    font-size: 11px;
    text-align: center;
    font-weight: 600;
    transform: rotate(270deg);
    color: #000;
}

.surface-preview .up-text {
    display: block !important;
    position: absolute;
    right: 17px;
    margin-top: -16px;
    z-index: 9;
    font-size: 10px;
    text-align: center;
    font-weight: 600;
    color: #000;
}

.surface-preview .right-text {
    display: block !important;
    position: absolute;
    right: -6px;
    margin-top: 10px;
    z-index: 9;
    font-size: 11px;
    text-align: center;
    font-weight: 600;
    transform: rotate(90deg);
    color: #000;
}

.surface-preview .bot-text {
    display: block !important;
    position: absolute;
    right: 15px;
    margin-top: 34px;
    z-index: 9;
    font-size: 11px;
    text-align: center;
    font-weight: 600;
    color: #000;
}

.surface-preview .square-text {
    display: block !important;
    position: absolute;
    right: 25px;
    margin-top: 10px;
    z-index: 9;
    font-size: 11px;
    text-align: center;
    font-weight: 600;
    color: #000;
    width: 19px;
    overflow: hidden;
}

.surface-preview .cont {
    border: 2px solid #000;
    height: 70px;
    width: 69px;
    background: #000;
}

.surface-preview .teeth .up {
    border-bottom: 20px solid #fff !important;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 65px;
    transform: rotate(180deg);
    margin-top: -18px;
    margin-left: -2px;
    position: absolute;
}

.surface-preview .teeth .left {
    border-bottom: 20px solid #fff !important;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 65px;
    transform: rotate(90deg);
    margin-left: -25px;
    position: absolute;
    margin-top: 6px;
}

.surface-preview .teeth .bot {
    border-bottom: 20px solid #fff !important;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 65px;
    margin-top: 30px;
    margin-left: -2px;
    position: absolute;
}

.surface-preview .teeth .right {
    border-bottom: 20px solid #fff !important;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0px;
    width: 65px;
    transform: rotate(270deg);
    margin-left: 21px;
    margin-top: 6px;
    position: absolute;
}


.surface-preview .teeth .square {
    border-bottom: 24px solid #fff !important;
    width: 23px;
    margin-top: 4px;
    margin-left: 19px;
    position: absolute;
}
.dental-data-block{
    margin-top: 15px; height: 485px; overflow: auto
}
.dental-data-block.height-data-count-0{
    height: 0;
}
.dental-data-block.height-data-count-1{
    height: 265px;
}