.pager .hidden {
    display: none
}

.grid-view .button-column img {
    border: 0 none;
}

.grid-view .pager {
    margin-top:20px;
    padding: 10px 0 !important;
}

.grid-view .summary {
    text-align: left;
    margin-top: 20px;
    color: #adadad;
    font-size: 11px;
    padding-left: 5px;
}

.pager ul li {
    float: left;
    list-style: none;
    border: 1px solid #bebebe;
    border-left:none;
}

.pager ul li:not(.hidden):first-child {
    border-left: 1px solid #bebebe;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pager .hidden + .page {
    border-left: 1px solid #bebebe;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pager ul li:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pager .selected + .hidden {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pager ul li a {
    display: inline-block;
    padding: 6px 12px;
    color: #2c2f3b;
    min-height: 28px;
    box-sizing: border-box;
}

.pager ul li a:hover,
.pager ul li a:active,
.pager ul li a:focus {
    text-decoration: none;
}

.pager .yiiPager:after {
    content:'';
    display:table;
    clear:both;
}

.pager ul {
    border: 0;
    margin: 0;
    padding: 0;
}

.pager li {
    line-height: 15px;
    padding: 0px;
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pager .previous,
.pager .next {
    /*display: block;*/
    float: left;
    font-weight: bold;
}

.page a {
    font-size: 12px;
}

.pager li.page.selected a {
    color: #c5d52b;
    font-weight: bold;
}

.pager .next a,
.pager .previous a {
    font-weight: bold;
}

.pager .active {
    color: #c5d52b;
    font-weight: bold;
    display: block;
    float: left;
    padding: 4px 6px;
}

.page a:hover {
/*.first a:hover,*/
/*.last a:hover,*/
/*.previous a:hover,*/
/*.next a:hover {*/

    border-bottom: 1px #c5d52b solid;
    text-decoration: none;
}



.pager .fa {
    font-size: 16px;
}

.yiiPager {
    border: 0 none;
    display: inline;
    /*font-size_: 11px;*/
    line-height: 100%;
    margin: 0;
    padding: 0;
}

.pager .page.selected {
    display: block !important
}
.pager ul li { /*overriding css for pagination under accordion*/
    padding: 0 !important;
    margin: 0 !important;
    border: 0 solid #c3c3c3 !important;
}