.grid-view {
    padding: 0 !important;
}

.grid-view table.items tr.odd {
    background: #fff none repeat scroll 0 0 !important;
}

.grid-view table.items tr.even {
    background: #fcfcfc none repeat scroll 0 0 !important;
}

.grid-view table.items th, .grid-view table.items td {
    border: 0 solid #ccc;
    border-bottom: 1px solid #f4f4f4 !important;
}

.grid-view .filters {
    background-color: #e3eaf2;
}

.grid-view tfoot tr {
    background-color: #e3eaf2;
}

.grid-view table.items th {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}

.grid-view table.items th a, .grid-view table.items th {
    color: #000 !important;
    font-weight: bold;
    text-decoration: none;
}

.grid-view-loading {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}

.grid-view table.items th, .grid-view table.items td {
    padding: 8px !important;
}

.grid-view .filters input, .grid-view .filters select {
    padding: 5px !important;
}

.grid-view table th {
    background-color: #e3eaf2;
}

.privacy_category-table td.category {
    border-right: 1px solid #ccc !important;
}

.privacy-table {
    margin: -8px !important;
    width: 100%;
}

.privacy-table tr:last-child td {
    border-bottom: 0 solid #dee1e5 !important;
}
.grid-view .summary {
    margin-top: 20px !important;
    text-align: left !important;
}
.grid-view .pager {
    float: right !important;
}