
@media (min-width:768px) and (max-width:992px) {
    .nav > li > a {
        padding: 15px 8px !important;
    }
}
@media screen and (min-width: 768px) {
    .big_screen_hide {
        display: none !important;
    }
    .date_day {
        height: 107px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand > img {
        margin-top: 4px !important;
        max-width: 75% !important;
    }
    .small_screen_hide {
        display: none !important;
    }

    .date_day {
        height: 90px !important;
        width: 70px !important;
    }

    .date_day h4 {
        font-size: 10px;
        padding: 3px;
    }

    .date p {
        font-size: 10px;
    }

    .date h2 {
        font-size: 18px;
        margin-top: 4px;
    }
    .date_day .time {
        font-size: 11px !important;
    }
    .subnav .navbar-nav > li > a {
        padding-bottom: 10px !important;
        padding-top: 10px !important;
    }
    .mobile-clinic-label {
        color: #fff;
        display: inline-block;
        font-size: 17px;
        margin-top: 12px;
    }
    .no-sub-nav .profile-home{
        display: none;
    }
    .no-sub-nav .navbar-header{
        float: left;
    }
    .no-sub-nav .navbar-custom-menu{
        float: right;
    }

    .main-nav .navbar-header{
        float: left;
    }
    .main-nav .navbar-custom-menu{
        float: right;
    }
/*
    #navbar-collapse {
        background: #2CB7DF;
        display: block !important;
        line-height: inherit;
        margin-top: 0;
        padding-top: 0 !important;
    }
    ul.main-nav, .main-nav .navbar-custom-menu > ul {
        padding-bottom: 10px !important;
        padding-top: 10px !important;
    }
    ul.main-nav .profile-li {
        display: none;
    }
    .skin-blue .main-header .navbar .nav > li > a, .main-header .navbar .nav > .active > a, .btn-link a {
        color: #f6f6f6 !important;
    }*/
}